/* .markdown-source-view.mod-cm6 .cm-content, 
.markdown-rendered {
    font-size: 15px !important;
} */

body {
    --font-interface: "Roboto Mono", monospace !important;
    --font-text: "Roboto Mono", monospace !important;
    /* --font-monospace: "Source Code Pro", monospace !important; */
    --font-text-size: 15px !important;
}

.nav-file-title, 
.nav-folder-title, 
.status-bar, 
.workspace-tab-header-inner-title {
    font-weight: 900 !important;
}